[Desktop Entry]
Name=Mischief Makers: Recompiled
Type=Application
Terminal=false
Icon=MischiefMakersRecompiled
Exec=mm_game
GenericName=Mischief Makers: Recompiled
Categories=Game;
